#game-summary-items {
	margin: $space 0;
}

#game-summary {
	margin-bottom: $space;
}
#game-summary.hidden {
	display: none;
}

.game-summary-item {

	$item-height: 80px;
	$item-height-expanded: $item-height * 2;
	$thumb-width: 120px;

	margin-bottom: $space;
	text-align: center;

	.left-col {
		float: left;
		width: $thumb-width;
	}

	.right-col {
		margin-left: $thumb-width + $space-half;
	}

	.thumbnail-container {
		width: $item-height;
		height: $item-height;
		display: inline-block;
		//float: left;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&.expanded .thumbnail-container {
		height: $item-height-expanded;
		width: $thumb-width;
		img {
			cursor: pointer;
		}
	}

	.control-group {
		margin-top: 0;
		padding-top: ($item-height - $button-size) / 2;

		button, label {
			vertical-align: middle;
		}

		label {
			display: inline-block;
			font-size: $font-size-small;
		}
	}

	.truth-box {
		font-weight: bold;
		padding: 0 $space;

		&:after {
			font-size: 24px;
			margin-left: $space-quarter;
		}

		&.correct:after {
			content: "\2714";
			color: $color-correct;
		}

		&.wrong:after {
			content: "\2718";
			color: $color-wrong;
		}
	}

	.data-item {
		margin-bottom: $space-half;
		text-align: right;
		&.hint {
			font-style: italic;
			font-size: 12px;
		}
	}

	&:after {
		clear: both;
		content: "";
		display: block;
	}

}