#image {
    cursor: crosshair;
}

#image:active, #image:focus {
    cursor: crosshair;
}

.image-blur-overlay {
    background: black;
    cursor: crosshair;
    opacity: 0.9;
    position: absolute;
}

#image-area {
    position: relative;
}