.control-group {
	text-align: center;

	button, .button {
		&:not(:first-child) {
			margin-left: $space-half;
		}
	}
}

.control-group label {
	display: block;
}

.control-group label {
	font-size: 18px;
	font-weight: bold;
}

.control-group .input-wrapper {
	margin-top: 15px;
}

.control-group input {
	border: 0;
	outline: 0;
	border-radius: 2px;
	color: #666;
	height: $button-size;
	font-size: 18px;
	padding: 10px;
	background: $bg-input;
	box-sizing: border-box;
}

.control-group .input-wrapper button {
	background: #ff6717;
	color: $color-button;
	font-size: 18px;
	font-weight: bold;
	border: 0;
	outline: 0;
	border-radius: 4px;
	height: $button-size;
	width: $button-size;
	box-sizing: border-box;
	padding: 5px;
	margin-left: 5px;
	cursor: pointer;
}

button, .button {
	background: $bg-button;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	color: $color-button;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	height: $button-size;
	line-height: 1;
	outline: 0;
	padding: 11px;
	text-decoration: none;

	&:disabled {
		background: $bg-button-disabled;
	}
}
