//$bg-main: #48AD00;
$bg-main: white;
$bg-button: #ff6717;
//$bg-input: white;
$bg-input: #ddd;
$bg-box: white;
//$color-main: white;
$color-main: #333;
$color-border: white;
$color-button: white;

$button-size: 40px;
$space: 30px;
$space-half: $space / 2;
$space-quarter: $space / 4;