doctype html
html(lang="en")
    head
        title Papaya &#x2022; Dashboard
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/bundle.css")
    body.show-dashboard
        #dashboard.mega-container
            .control-group
                h1.name= user.name
            .control-group
                h3.line.credits
                    include credits
            .control-group
                button#btn-start(type="button") Start Game
            .control-group
                a.button#btn-logout(href="/logout") Log Out
        #game.mega-container
            .credits
                include credits
            #guess-items
            .control-group
                button#btn-fake(type="button") Enhanced
                button#btn-real(type="button") Natural
        include game-summary
        #overlay.hidden
            .inner
                #bowlG
                    #bowl_ringG
                        .ball_holderG
                            .ballG
        #overlay-msg.hidden
            .msg-box
        script(src="lib/jquery-2.2.0.js")
        script(src="lib/underscore-1.8.3.js")
        script(src="lib/backbone-1.3.3.js")
        script(src="client/overlay.js")
        script(src="client/api.js")
        script(src="client/components.js")
        script(src="client/model-item.js")
        script(src="client/client-main.js")
        script(src="client/models/user.js")