extends layout.pug

block title
	= ' Dashboard'

block content
	body.show-dashboard
		#dashboard.mega-container
			.control-group
				h1.name= user.name
			.control-group
				.stats-list
					if user.stats.score
						span.dt All-time score
						span.dd.score-data= user.stats.score
						br
						span.dt Hit rate
						span.dd.percent-data= (user.stats.hits / user.stats.guesses * 100).toFixed(1) + '%'
						br
					span.dt Credits
					span.dd.credits-data= user.stats.credits
			.control-group
				button#btn-start(type="button") Start Game
			.control-group
				a.button#btn-logout(href="/logout") Log Out
		#game.mega-container
			.credits
				include credits.pug
			#guess-items
			.control-group
				button#btn-fake(type="button") Enhanced
				button#btn-real(type="button") Natural
		include game-summary.pug
		#overlay.hidden
			.inner
				#bowlG
					#bowl_ringG
						.ball_holderG
							.ballG
		#overlay-msg.hidden
			.msg-box
		script(src="lib/jquery-2.2.0.js")
		script(src="lib/underscore-1.8.3.js")
		script(src="lib/backbone-1.3.3.js")
		script(src="client/overlay.js")
		script(src="client/api.js")
		script(src="client/components.js")
		script(src="client/model-item.js")
		script(src="client/client-main.js")
		script(src="client/models/user.js")