extends layout

block content
	body
		.mega-container
			form(method="post" action="/login")
				.control-group
					label(for="input-name") Give yourself a name:
					.input-wrapper
						input(name="name" id="input-name")
						button &#x2299;
