doctype html
html(lang="en")
    head
        title Papaya &#x2022;
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/bundle.css")
    body
        .mega-container
            form(method="post" action="/login")
                .control-group
                    label(for="input-name") Give yourself a name:
                    .input-wrapper
                        input(name="name" id="input-name")
                        button &#x2299;