doctype html
html(lang="en")
	head
		title Papaya &#x2022;
			block title
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/bundle.css")
		link(rel="stylesheet" href="fonts/Bariol_Regular/Bariol_Regular_Webfont/stylesheet.css")
	block content
